
.idea/workspace.xml

superpixel/test/eval/

superpixel/test/eval_org.avi

*.pyc

superpixel/.idea/workspace.xml

superpixel/test/eval.avi

superpixel/first_results.pptx

reference_code/monodepth2-master/kitti_data_down/
